.container-delete {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    text-align: center;
}

.container-delete h3 {
    color: #d32f2f;
}

.container-delete input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.container-delete button {
    background-color: #d32f2f;
    color: white;
    padding: 0.75rem;
    border: none;
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.container-delete button:hover {
    background-color: #b71c1c;
}

@media (max-width: 600px) {
    input,
    button {
        font-size: 0.9rem;
        padding: 0.6rem;
    }
    .form-box,
    .container-update,
    .container-delete {
        padding: 1.2rem;
    }
}